main{
    background-color: rgb(230, 208, 179);
   width: 50%;
   margin-left: 19%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center; 
   border-radius: 5%;
   font-size: large;
   font-weight: 600;
 }
 
 .button_choice{
   display: block;
   width: 100%;
   text-align: left;
   border: 10 ;
 
 
   
 }
 header{
   margin-left: 19%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 50%;
   height: 70px;
   background:thistle;
   border: 1px solid lightgray;
   border-radius: 5px;
     font-size: 20px;
     font-weight: 700;
 }
 
 
 
 button{
   height: 40px;
   width: 70px;
   background-color: blueviolet;
 }
 
 button:hover{
   background: plum;
 }
 
 
 